body {
    background-color:teal;
    color:white;
    font-family:Tahoma;
  }

#img-div
{
  text-align: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title
{
  font-size: 60px;
  
}